doctype html
html
    head
        title = title
        link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css")
        script(src="https://cdn.auth0.com/js/auth0/9.5.1/auth0.min.js")
    body
        nav.container.navbar.navbar-expand-lg.navbar-light.bg-light
            a.navbar-brand Auth0 Example
            div.collapse.navbar-collapse
                ul.navbar-nav
                    li.nav-item
                        a(href="/").nav-link Home
                    if loggedIn
                        li.nav-item
                            a(href="/user").nav-link Profile
                        li.nav-item
                            a(href="/logout").nav-link Log Out
                    else
                        li.nav-item
                            a(href="/login").nav-link Log In
    block content